<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Movie Recommendation System by Favorite Movie</title>
  </head>

<body>
 <div class="login">
	<h1>Movie Recommendation System by Favorite Movie</h1>
     <h2>list of popular Movies</h2>
     
     <h4>'2001: A Space Odyssey (1968)',
 'Abyss, The (1989)',
 'African Queen, The (1951)',
 'Air Force One (1997)',
 'Aladdin (1992)',
 'Alien (1979)',
 'Aliens (1986)',
 'Amadeus (1984)',
 'American President, The (1995)',
 'Annie Hall (1977)'</h4>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('recommend_movies')}}"method="post">
    	<input type="text" name="Target_user_id" placeholder="Target_user_id" required="required" />
     	<input type="text" name="Favorite movie" placeholder="Favorite movie" required="required" />
        
	

        <button type="submit" class="btn btn-primary btn-block btn-large">recommend_movies</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>